body{
    margin: 0;
    font-family: "Raleway", serif;
}
h3{
    font-family: "Raleway", serif;
    font-weight: 500px;
    font-size: 30px; 
}
header{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #E1EDE6;
    max-height: 100px;
    width: 100%;
}
.logo{
    max-width: 130px;
    margin-left: 100px;
    align-self: center;
}
header ul{
    justify-self: end;
    margin-right: 80px;
}
header li{
    list-style-type: none;
    display: inline;
}
header a{
    text-decoration: none;
    margin-right: 50px;
    color: black;
}
header a img{
    max-width: 20px;
}
.main-slide{
    display: grid;
    grid-template-columns: auto auto;
}
.main-slide img{
    justify-self: right;
    align-self: center;
    padding-right: 40px;
    max-width: 540px;
}
h1{
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 0;
}
.colortext{
    color: #598D66;
}
.opisanie{
    justify-self: left;
    align-self: top;
    margin-top: 100px;
}
.opisanie p{
    color: #86928B;
}
.prodact{
    border: 1px solid #598D66;
    background: none;
    width: 40%;
    height: 10%;
    color: #598D66;
    margin-top: 40px;
}
.razdeli{
    display: grid;
    grid-template-columns: auto auto;
}
.razdeli h2{
    justify-self: center;
}
.razdeli li{
    display: inline;
}
.razdeli ul{
    justify-self: center;
}
.France{
    background-color: #376B44;
    color: white;
    border: none;
    width: 7vw;
    height: 5vh;
    border-radius: 20px;
    font-size: 20px;
    margin-right: 20px;
}
.Germany{
    border: none;
    width: 7vw;
    height: 5vh;
    border-radius: 20px;
    background-color: #D4E8D9;
    font-size: 20px;
    margin-right: 20px;
}
.England{
    border: none;
    width: 7vw;
    height: 5vh;
    border-radius: 20px;
    background-color: #D4E8D9;
    font-size: 20px;
}
.reproductions{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, auto));
    grid-template-rows: repeat(2, 700px);
}
.reproductions img{
    max-width: 300px;
    justify-self: center;
    margin-top: 25px;
}
.reproductions figcaption{
    margin-left: 25px;
    font-size: 18px;
    color: #86928B;
}
.reproductions h3{
    margin-left: 25px; 
    margin-top: 0px;
    margin-bottom: 0px;
}
.reproductions p{
    margin-top: 0px;
    margin-left: 25px;
    font-size: 18px; 
}
.reproductions span{
    margin-left: 25px; 
    color: #598D66;
    font-size: 24px;  
}
.lady_dog, .amurs_hunt, .procedure, .rose, .birds_eating, .fish{
    display: grid;
    background-color: #E1EDE6;
   
    justify-self: center;
    align-self: center;
    width: 70%;
    height: 90%;
}
.amurs_hunt, .rose{
    justify-self: right;
    align-self: center;
}
.procedure, .fish{
    justify-self: left;
    align-self: center;
}
.btn{
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #598D66;
    background: none;
    width: 85%;
    height: 50%;
    color: #598D66;
}
